<%-include('navbar.ejs')%>
    <link href="https://cdn.datatables.net/1.13.6/css/dataTables.bootstrap5.min.css" rel="stylesheet">
    <style>
        .table thead {
            background-color: #4d4d4d;
            color: #fff;
            text-transform: uppercase;
        }

        .btn-adv {
            background-color: #9b59b6;
            color: #fff;
            border-radius: 6px;
            padding: 6px 15px;
        }

        .btn-adv:hover {
            background-color: #8e44ad;
            color: #fff;
        }

        .btn-filter {
            background-color: #9b59b6;
            /* Purple color */
            color: #fff;
            border-radius: 6px;
            padding: 6px 15px;
        }

        .btn-filter:hover {
            background-color: #8e44ad;
            color: #fff;
        }

       
        .btn-sell {
            background-color: #1abc9c;
            color: #fff;
            border-radius: 6px;
        }
         .btn-sell:hover {
            background-color: #1abc9c;
            color: #fff;
            border-radius: 6px;
        }

        .dataTables_wrapper .dataTables_paginate .paginate_button.current {
            background-color: #9b59b6 !important;
            color: #fff !important;
            border: none !important;
            border-radius: 4px;
        }

        #filterBox {
            display: none;
        }

        /* hidden by default */
    </style>

    <div class="container p-3 ">
        <div class="d-flex justify-content-between align-items-center mb-3 bg-success p-3 rounded shadow-sm">
            <h6 class="fw-bold text-uppercase text-secondary m-0">All Flat List Properties</h6>
        </div>

       
        <!-- Table -->
        <div class="card shadow-sm">
            <div class="card-body ">
                <table id="propertiesTable" class="table table-striped table-bordered align-middle" style="width:100%">
                    <thead class="mt-4">
                        <tr>
                            <th width="100px">Actions</th>
                            <th>Flat Name/No</th>
                            <th>Type</th>
                            <th>Site Name</th>
                            <th>Dimensions</th>
                            <th>Added Date</th>
                            <th>Address</th>
                            <th>Sale Action</th>
                        </tr>   
                    </thead>
                    <tbody>
                        <%for (var i=0; i<flat.length; i++) { %>
                        <tr>
                            <td width="150px">
                                <a href="/view_flat/<%-flat[i].flat_id%>"><button class="btn btn-sm btn-outline-primary"><i class="fa fa-eye"></i></button></a>

                               <a href="/delete_flat/<%-flat[i].flat_id%>" > <button class="btn btn-sm btn-outline-danger"><i class="fa fa-trash"></i></button></a>
                            </td>
                            <td><%-flat[i].flat_name %></td>
                            <td><%-flat[i].type %></td>
                            <td><%-flat[i].site_name %> </td>
                            <td><%-flat[i].carpet %>/<%-flat[i].buildup %></td>
                            <td><%-flat[i].site_location %></td>
                            <td><%-flat[i].site_description %></td>
                            <td>
                                <a href="/view/<%-flat[i].flat_id%>"><button class="btn btn-sm btn-sell"><i class="fa fa-handshake"></i> SELL</button></td></a>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

   

    <%-include('footer.ejs')%>