<%-include("navbar.ejs")%>
<div class="table-responsive">
  <table class="table table-bordered table-striped align-middle text-center">
    <thead class="table-dark">
      <tr>
        <th>Action</th>
        <th>Sr. No</th>
        <th>Customer Name</th>
        <th>Customer Mobile</th>
        <th>Inquiry Status</th>
        <th>Remark</th>
      </tr>
    </thead>
    <tbody>
      <% enquiry.forEach((row, index) => { %>
        <tr>
          <td class="d-flex justify-content-center gap-2">
            <a href="/edit/<%= row.id %>" class="btn btn-sm btn-primary">Edit</a>
            <a href="/delete_new/<%= row.id %>" class="btn btn-sm btn-danger">Delete</a>
          </td>
          <td><%= index + 1 %></td>
          <td><%= row.customer_name %></td>
          <td><%= row.customer_mobile %></td>

          <td><%= row.inquiry_status %></td>

          <td><%= row.remark %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
<%-include("footer.ejs")%>
